Options -Indexes ExecCGI FollowSymLinks

RewriteEngine On

# always use the correct hostname
RewriteCond %{HTTP_HOST} !^logbot.glob.com.au
RewriteRule (.*) http://logbot.glob.com.au$1 [R=301,L]

# redirect from the old /irc/ path
RewriteRule ^irc(.*) http://logbot.glob.com.au$1 [R=301,L]

