Options -Indexes ExecCGI FollowSymLinks

RewriteEngine On

# always use the correct hostname
RewriteCond %{HTTP_HOST} !^logbotdev.glob.com.au
RewriteRule (.*) http://logbotdev.glob.com.au$1 [R=301,L]

# redirect from the old /irc/ path
RewriteRule ^irc(.*) http://logbotdev.glob.com.au$1 [R=301,L]

