[Unit]
Description=Logbot Redirector Mojolicious Daemon
After=syslog.target network.target

[Service]
ExecStart=/home/logbot/logbot/logbot-hypnotoad --redirector --pid-file /home/logbot/store/mojo-redirect.pid --listen-port 3002 --default mozilla.logbot.info
ExecReload=/home/logbot/logbot/logbot-hypnotoad --redirector --pid-file /home/logbot/store/mojo-redirect.pid --listen-port 3002 --default mozilla.logbot.info
Group=logbot
KillMode=process
PIDFile=/home/logbot/store/mojo-redirect.pid
Restart=always
Type=forking
User=logbot

[Install]
WantedBy=multi-user.target
